/********************
    RESET
********************/

ul, ol, menu {
    list-style: none;
}



/********************
    LAYOUT
********************/

/* Header */
.header_tools {
    gap: 15px;
}

/* Hero Section */
.hero__section {
    background-color: rgb(114, 155, 114);
}

.hero_avatar {
    width: 110px;
}




/********************
    DEBUG
********************/

body.debug  {
    color: white;
    background-color: #dedede;
}

.debug .page__header .container-sm {
    background-color: rgb(62, 46, 62);
}

.debug .page__header .col {
    background-color: red;
}