/********************
    RESET
********************/

ul, ol, menu {
    list-style: none;
}



/********************
    LAYOUT
********************/

/* Header */
.header_tools {
    gap: 15px;
}





/********************
    STYLE
********************/

/* Hero Section */
.hero__section {
    background-color: rgb(114, 155, 114);
}

.hero_avatar {
    width: 110px;
}

/* Portfolio Section */
.portfolio__section {
    background-color: white;
}

.portfolio__section img{
    max-width: 100%;
}

.portfolio_title {
    color: black;
}

/* About section */
.about__section {
    background-color: rgb(114, 155, 114);
}



/********************
    DEBUG
********************/

body.debug  {
    color: white;
    background-color: #dedede;
}

.debug .page__header .container-sm {
    background-color: rgb(62, 46, 62);
}



