:root {
    --dark-blue: #2C3E50;
    --green: #1ABC9C;
    --blue: #3A546D;
    --dark-title: #333333;
}

/********************
    RESET
********************/

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
} 

a:hover {
    color: currentColor;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/********************
    LAYOUT
********************/

/* Header */
.header_tools {
    gap: 15px;
}



/********************
    STYLE
********************/

/* Header */
.page__header {
    background-color: var(--dark-blue);
}

.page__header .row {
    height: 90px;
}

.header_logo {
    font-size: 27px;
    font-weight: 700;
}

/* Hero Section */
.hero__section {
    background-color: var(--green);
}

.hero_avatar {
    width: 150px;
}

.section_title {
    font-size: 34px;
}

.hero_subtitle {
    font-size: 18px;
}

/* Separate */
.separate_star {
    font-size: 30px;
}

.separate_line {
    
}


/* Portfolio Section */
.portfolio__section {
    background-color: white;
}

.portfolio__section .separate {
    color: var(--dark-blue);
}

.portfolio__section img{
    max-width: 100%;
    border-radius: 10px;
}

.portfolio_title {
    color: var(--dark-title);
}

/* About section */
.about__section {
    background-color: var(--green);
}

.about__section .button {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.about__section .button:hover {
    border: none;
    background-color: #169c81;
    margin: 1px;
    animation: smoothButtonHover 0.3s;
}

/* Contact section */
.contact__section {
    background-color: white;
    color: black;
}

.contact_title {
    color: var(--dark-title);
}

.contact__section label {
    color: var(--dark-blue);
    font-weight: 500;
}

.contact__section input, 
.contact__section textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid #00000033;
}

.contact_submit {
    align-self: flex-start;
    border: none;
    background-color: var(--green);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.contact_submit:hover {
    background-color: #169c81;
}

/* Info section */
.info__section {
    background-color: var(--blue);
}

.info_title {
    font-size: 18px;
}

.info_text {
    font-size: 19px;
}

.info_icons {
    gap: 10px;
}

.info_icon {
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid white;
    aspect-ratio: 1/1;
    display: block;
    width: 50px;
    padding-top: 15px;
}

.info_text a {
    color: #1ABC9C;
}

/* Copyright section */
.copyright__section {
    background-color: var(--dark-blue);
}

/********************
        MEDIA QUERY
********************/

@media (min-width: 768px) {
    .section_title {
        font-size: 59px;
    }
    .hero_subtitle {
        font-size: 24px;
    }
    .about_text {
        column-count: 2;
    }
    .info_title {
        font-size: 24px;
    }
}




/********************
    DEBUG
********************/



